<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionTitle</key>
		<string>Pinballmap.com</string>
		<key>people</key>
		<array>
			<dict>
				<key>name</key>
				<string>Pinball Map Site</string>
				<key>url</key>
				<string>http://pinballmap.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Scott Wainstock</string>
				<key>url</key>
				<string>http://scottwainstock.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ryan Gratzer</string>
				<key>url</key>
				<string>http://blueskiesabove.us/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>iOS App</string>
		<key>people</key>
		<array>
			<dict>
				<key>name</key>
				<string>Frank Michael Sanchez</string>
				<key>url</key>
				<string>http://fmscode.com</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Scott Wainstock</string>
				<key>url</key>
				<string>http://scottwainstock.com/</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Isaac Ruiz</string>
				<key>url</key>
				<string>http://isaacruiz.net/</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>Testers</string>
		<key>people</key>
		<array>
			<dict>
				<key>name</key>
				<string>Brian Hanifin</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Dan Burfield</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Dave </string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Don Walton</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Edgar</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Erin Kelly</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Justin Kleinman</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Marc Jeray</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Nick Taseris</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pat Castaldo</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pin Agogo</string>
				<key>url</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tom Pavlich</string>
				<key>url</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
